#invoice-POS {
  box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
  padding: 2mm;
  margin: 0 auto;
  width: 55mm;
  background: #fff;
}

#invoice-POS ::selection {
  background: #f31544;
  color: #fff;
}

#invoice-POS ::moz-selection {
  background: #f31544;
  color: #fff;
}

#invoice-POS h1 {
  font-size: 1.5em;
  color: #222;
}

#invoice-POS h2 {
  font-size: 0.9em;
}

#invoice-POS h3 {
  font-size: 1.2em;
  font-weight: bold;
  line-height: 2em;
}

#invoice-POS p {
  font-size: 0.7em;
  color: #666;
  line-height: 1.2em;
}

#invoice-POS #top,
#invoice-POS #mid,
#invoice-POS #bot {
  /* Targets all id with 'col-' */
  border-bottom: 1px solid #eee;
}

#invoice-POS #top {
  min-height: 100px;
}

#invoice-POS #mid {
  min-height: 80px;
}

#invoice-POS #bot {
  min-height: 50px;
}

#invoice-POS #top .logo {
  height: 60px;
  width: 60px;
  background: url(http://michaeltruong.ca/images/logo1.png) no-repeat;
  background-size: 60px 60px;
}

.clientlogo {
  float: left;
  height: 60px;
  width: 60px;
  background: url(http://michaeltruong.ca/images/client.jpg) no-repeat;
  background-size: 60px 60px;
  border-radius: 50px;
}

.info {
  display: block;
  margin-left: 0;
}

.title {
  float: right;
}

.title p {
  text-align: right;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  /* padding: 5px 0 5px 15px; */
  /* border: 1px solid #EEE */
}

.tabletitle {
  /* padding: 5px; */
  font-size: 0.9em;
  background: #eee;
  font-weight: bold;
}

.service {
  border-bottom: 1px solid #eee;
}

.item {
  width: 24mm;
}

.itemtext {
  font-size: 0.6em;
  font-weight: bold;
}

#legalcopy {
  margin-top: 5mm;
}
